*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.top_nav_bar{
  border-bottom: 1px solid lightgray;
}
.nav_bar{
  display: flex;
  justify-content: space-between;
}
.nav_bar ul{
  /* padding: 10px; */
  margin: 0;
  display: flex;
}
.nav_bar .top_left ul{
  padding: 0;
}
.nav_bar .top_left ul li p,a{
  display:block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.menu a{
  text-decoration:underline blue;
  color: blue;
}

.nav_bar .top_left ul li p,a:hover{
  text-decoration:underline;
  color: black;
}
.top_url ul{
  margin: 0;
  padding: 0;
}
.top_url ul li{
  font-size: 14px;
  display: flex;
}
.top_url ul li a{
  padding: 0;
}
.top_url ul li span{
  padding: 0;
  color: gray;
}
.top_url ul li i{
  margin: 5px;
}
.nav_img img{
  width: 100%;
}
.nav_search{
  margin: auto;
  padding: 0;
}
.nav_search .search input{
  height: 40px;
  margin: auto;
  width: 350px;
}
.nav_search .search select{
  width: 50px;
  height: 40px;
  margin: auto;
}
.nav_search .search button{
  height: 40px;
  width: 150px;
  margin: auto;
}
.top_category_bar{
  border-top: 1px solid lightgray;
}

.slide-menu ul{
  display: flex;
}
.slide-menu ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: brown;
}
.slide-menu ul li a:hover{
  background-color:chocolate;
}
/* .slide-menu ul li a.router-link-active{
  color: red;
} */
button.btn-search{
  width: 200px;
  background-color:#3665f3;
  color: white;
}
button.btn-search:hover{
  background-color:#3665f3;
  color: white;
}
.slider{
  height: 350px;
  border-radius: 15px;
}
.slider p{
  font-size: 18px;
}
.slider button{
  width: 100%;
  border-radius: 15px;
}

.img-header {
  padding: 17px 25px;
  height: 192px;
  position: relative;
  width: 100%;
  background-image: url(/src/assets/img/benner.webp);
}
.img-header h1{
  /* padding: 10px; */
  font-weight: bold;
  font-size: 28px;
}
.img-header h2{
  /* padding: 10px; */
  /* font-weight: bold; */
  font-size: 20px;
}
.box{
  padding: 10px 0px 10px 0px;
  border-bottom: 1px dotted lightgray;
  
}
.shopby-Category ul{
  padding: 0;
}
.shopby-Category ul li a,h5{
  padding: 1px;
  text-align: start;
  color: black;
  font-size: 14px;
}
.top-img-contant img{
  width: 100%;
  /* height: 250px; */
}
.box-img img{
  width: 100%;
  object-fit: cover;
}
.branch-show{
  margin: auto;
  /* padding: 1px; */
  width: 220px;
  height: 220px;
  text-align: center;
}
.branch-show .imgBranch img{
  width: 100%;
}
.branch-show .imgBranch img:hover{
  border: 1px solid lightgray;
}
.branch-show .imgBranch a{
  color: black;
}
.branch_box{
  border-bottom: 1px solid lightgray;
  margin-top: 15px;
  height: 300px;
}
.branch_box h4{
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}
.branch_box_img{
  border-bottom: 1px solid lightgray;
}
.branch_box_img h4{
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}
.branch_box_img .branch-show .imgBranch img{
  width: 100%;
}
.branch_box_img .branch-show .imgBranch img:hover{
  border: 1px solid lightgray;
}
.branch_box_img .branch-show .imgBranch a{
  color: black;
}
.footer-nav{
  border-top: 1px solid lightgray;
}
.footer-nav  .footer{
  margin-top: 30px;

}
.footer-nav  .footer ul{
  display: flex;
}
.footer-nav  .footer ul li a{
  color: gray;
  font-size: 14px;
}
.footer-nav  .footer ul li a:hover{
  text-decoration: underline;
}
.footer-nav  .footer ul li p{
  color: black;
  font-size: 14px;
}
.txt_box{
  margin-top: 15px;
  margin-bottom: 15px;
}
.txt_box h4{
  /* font-size: 18px; */
  padding-left: 10px;
}
.txt_box p,span{
  display: flex;
  padding: 0px 10px;
  margin: 0px;
  font-size: 15px;
}
.txt_box a{
  /* display: flex; */
  padding: 0px 5px;
  color: blue;
  font-size: 15px;
  text-decoration: underline;
}
.txt_box ul li{
  list-style-type: disc;
  font-size: 15px;
}
.txt_box ul li u strong{
  font-size: 15px;
}

.gh-tbl, .gh-tbl2 {
  border-collapse: collapse;
  border-spacing: 0;
}
.gh-tbl {
  width: 100%;
  margin-top: 0;
  background: none !important;
}
.gh-td-s {
  width: 99%;
  vertical-align: middle;
  padding: 0;
}

.shose-img-header{
  background-image: url(/src/assets/img/shose/shose_baner.webp);
  padding: 17px 25px;
  height: 192px;
  background-repeat: round;
  color: white;
  /* position: relative; */
  /* width: 100%; */
}
.shose-img-header h1{
  font-size: 28px;
  font-weight: bold;
}
.shose-img-header h2{
  font-size: 20px;
  font-weight: bold;
}
.subMenu{
  margin-left: 15px;
}
.box_sport_menu ul li a{
  display: block;
  /* padding: auto; */
  justify-content: space-between !important;
  display: flex;
}
.img-contant{
  width: 100%;
  padding: 0;
  margin: 0;
}
.img-contant img{
  width: 100%;
  padding: 0;
  margin: 0;
}
.header h1{
  font-size: 28px;
  font-weight: bolder;
  /* padding-left: 0; */
}
/* .img_box{
  border-bottom: 1px solid lightgray;
  margin-top: 15px;
  height: 300px;
} */
.box-img{
  /* margin: auto; */
    /* padding: 1px; */
    width: 220px;
    height: 260px;
    text-align: center;
}
.box-img img{
  width: 100%;
}
.box-img img:hover{
  border: 1px solid lightgray;
}
.box-img p{
  font-size: 14px;
  padding-right: 25px;
  text-align: center;
}
.box-section{
  margin: 0;
  height: 340px;
  /* display: flex; */
  border-bottom: 1px solid gray;
}
.explore{
  margin: 0;
  /* height: 340px; */
  /* display: flex; */
  border-bottom: 1px solid gray;
}
.box-sell{
    width: 220px;
    height: 260px;
    text-align: center;
}
.box-sell img{
  margin-bottom: 10px;
  width: 100%;
  height: 196px;
}
.box-sell p{
  font-size: 14px;
  padding-right: 25px;
  text-align: center;
}
.box-text p,a{
  padding: 0;
  margin: 0;
  text-align: start;
}
.content{
  /* margin-top: 25px; */
  background-color: lightcyan;
  height: 180px;
}
.content .section1{
  /* margin-top: 30px; */
  background-color:#FBCD25;
  /* height: 150px; */
}
.content .section1 h1{
  padding: 55px;
  font-size: 35px;
  font-weight: bolder;
  margin: auto;
  color: #592E13;
}
.section1 p{
  color: #592E13;
  font-size: 20px;
  padding: 35px;
}